.bootstrapComponentScope {
  @import "~bootstrap/scss/bootstrap";
  .nav > a {
    font-size: 12px;
  }
  .tab-pane{
    padding-top: 25px;
  }
  .show {
    opacity: 1;
  }
  .rcsbSvg {
    vertical-align: baseline;
  }
  .rcsbFvRowTitleText a {
    text-decoration-line: none;
  }
  .rcsbFvRowTitleText a:hover {
    text-decoration-line: underline;
  }
}

.bootstrapComponentScope * {
  box-sizing: content-box;
}